.CircleButton {
  height: 60px;
  width: 60px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  box-shadow: 0 0 10px rgba(0,0,0,0.4);
  transition: 300ms ease;
  &:active  {
    box-shadow: 0 0 1px rgba(0,0,0,0);
  }
}